.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
}

.detailItem {
  font-family: monospace;
  font-size: 1.1rem;
  color: var(--white);
}

.finishButton {
  padding: 0.5rem 2rem;
  background: var(--secondary-background);
  border: none;
  border-radius: 0.25rem;
  color: var(--white);
  cursor: pointer;
  width: 150px;
  margin-top: 1rem;
}

.finishButton:hover {
  background: var(--primary);
}
