.filterPanel {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 250px;
  min-width: 80px;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;

  background: var(--secondary-background);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  transition: 0.2s ease-in-out;
  border-left: 1px solid var(--gray);
}
