#app-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
  transition: grid-template-columns 0.1s ease-in-out;
}

#app-layout.no-sidebar {
  grid-template-columns: 1fr;
}
