.container {
  font-family: "IBM Plex Mono", monospace;
}

.label {
  display: grid;
  padding-bottom: 0.25rem;
}

.input {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 1rem;
  background: var(--secondary-background);
  color: var(--gray);
  border: none;
  border-radius: 0.25rem;
  font-size: 15px;
  height: 40px;
  width: 100%;
  min-width: 100px;
  padding: 0 0.5rem;
}

.input:focus {
  outline: 1px solid var(--gray);
  cursor: text;
  color: var(--white);
}


